#fundo{
    height: 537px;
    width: 1971px;
    margin: -7px 100px 100px -59px;
    position: absolute;
}
#quadrado{
    background-color:white;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 50%);
    height: 254px;
    width: 546px;
    margin: 0 auto;
    margin-top: 437px;
    position: sticky;
}
#info{
    font-size: 17px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 1px 0px 5px 31px;
}
#bhaskara{
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 30px 0px -1px 17px;
    color: #c72f6e;
}
#moda{
    border-radius: 5px 5px 0px 0px;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 50%);
    height: 251px;
    width: 546px;
    margin: -243px 100px 37px 672px;
    position: absolute;
}
#vA, #vC, #vB{
    margin: 10px 10px 10px 10px;
}
label{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
input{
    width: 14%;
}
#btncalcular{
    margin: 14px 0px 0px 150px;
}
.button1 {
    background-color: #bdb181;
    border: none;
    color: white;
    padding: 14px 79px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.button1 {
    background-color: white; 
    color: black; 
    border: 4px solid #c52a9e;
}
.button1:hover {
    background-color: #bdb181
    color: white;
}
#resultados{
    margin: 20px 0px 0px 168px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
}
#cont{
    margin: -13px 0px 0px 0px;
    position: absolute;
}